<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="title" content="Domain Watchdog">
    <meta name="description"
          content="A standalone app that collects open access information about domain names, helping users track the history and changes associated with domain names">
    <meta name="keywords" content="api, tracking, whois, domain, rdap, watchdog">

    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Domain Watchdog"/>
    <meta property="og:image" content="{{ asset('images/banner.png') }}">
    <meta property="og:description"
          content="A standalone app that collects open access information about domain names, helping users track the history and changes associated with domain names"/>
    <meta property="og:site_name" content="Domain Watchdog"/>

    <meta property="twitter:card" content="summary"/>
    <meta property="twitter:title" content="Domain Watchdog"/>
    <meta property="twitter:description"
          content="A standalone app that collects open access information about domain names, helping users track the history and changes associated with domain names"/>
    <meta property="twitter:image" content="{{ asset('images/banner.png') }}"/>


    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="manifest" href="{{ asset('manifest.json') }}"/>
    <title>Domain Watchdog</title>
    {{ encore_entry_link_tags('app') }}
</head>
<body>
<div id="root"></div>
{{ encore_entry_script_tags('app') }}
</body>
</html>